.nav-outer-container{
    height: 10vh;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 100;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 2vw;
}

.nav-border{
    border-bottom: 1px solid #E53935;
    background-color: white;
    backdrop-filter: blur(0px);
}

.nav-left{
    height: 100%;
    width: fit-content;
    padding: 1vh;
    padding-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left h1{
    color: #E53935;
    font-weight: bold;
}